{
  "extends": ["react-app"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier"],
  "root": true,
  "rules": {
    "prettier/prettier": "error",
    "sort-keys": "error",
    "@typescript-eslint/no-explicit-any": "error"
  }
}
