{
  "extends": ["react-app", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint"],
  "root": true,
  "rules": {
    "prettier/prettier": "error",
    "sort-imports": "error",
    "sort-keys": "error",
    "@typescript-eslint/no-explicit-any": "error"
  }
}
