.interactive-link {
  background-color: #edeeff;
  border-radius: 4px;
  color: #3e3e51;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .25px;
  margin: 5px 0;
  padding: 12px 24px;

  &:hover,
  &:focus {
    color: #3e3e51;
  }
}
